@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body{
  font-family: 'Poppins';
  background: white;
  //background-size: contain;  
  width: 80%;
  margin: auto;
}
.heading{
    display: block;
    text-align: center;
    font-size: 25px;
}
.box{
    align-content: center;
    margin-left: 0%;
    width: 70%;
    display: none;
    //display: block;
    
   .box-btn{
    align-items: left;
    display: flex;
    //float: right;
    margin-left: auto;
    width: 200%;
    line-height: 1em;
    background-color: white;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    input{
        width: 70%;
    }
   }
   
        .text{
            text-align: center;
        }
    

}

.taskList{
    //display: none;
    display: flex;
    align-content: center;
    margin: left 0;
    width: 100%;
    margin-top: 1em;
    margin-left: auto;
    margin-right:auto ;
    justify-content: space-between;
    line-height: 1.5em;
    //display: hidden;

    .editss{
        //width: 500%;
        align-content: center;
        float: right;
        //display: none;
        input{
            width:150%;
            margin: 0;
            padding: 0;
            justify-content: space-between;
        }
    }
    .check-c{
        
        //margin-left: 10em;
        //line-height: 2.5%;
        background-color: white;
        border-left-width: 0px;
        padding-bottom: 0px;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
    }
    .edits{
        justify-content: space-between;
        display: flex;

    }
    .edit{
        background-color: white;
        border-left-width: 0px;
        border-bottom-width: 0px;
        border-top-width: 0px;
        border-right-width: 0px;
        margin-right: .5em;
    }
    .delete{
        background-color: white;
        border-left-width: 0px;
        border-bottom-width: 0px;
        border-top-width: 0px;
        border-right-width: 0px;

    }
    


    
}

.allOther{
    display:grid;
    
    //grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    grid-template-rows: 53px 55px;
    grid-template-columns: 59px 177px;
    justify-content: space-between;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    //margin-left: auto;
    //margin-right: auto;
    align-content: center;

    .add-search-btn{
        display:flex;
        justify-content: space-evenly;
        //width:auto;
        align-content: center;

    }
    // .add{
    //     //border: solid black;
    //     //padding-left: 1%;
    //     //padding-right: .5;
    //     //width: auto;
    //     // :hover{
    //     //     cursor: pointer;
    //     //     background-color: #0078ff;
    //     //     color: white;
    //     // }

    // }

    .add-btn{
        background-color: white;
        // border-left-width: 0px;
        // border-bottom-width: 0px;
        // border-top-width: 0px;
        // border-right-width: 0px;
        color:black;



    }
    .search-btn{
        background-color: white;
        // border-left-width: 0px;
        // border-bottom-width: 0px;
        // border-top-width: 0px;
        // border-right-width: 0px;

        
    }
    .btn--active{
        background-color: #0078ff;
        color: white;
        display: hidden;

    }

    
    // .search{
    //     // border: solid black;
    //     // // padding-right: 10px;
    //     // // padding-left: 10px;
    //     // padding-left: 1%;
    //     // padding-right: .5;
    //     // width: auto;
    //     // :hover{
    //     //     cursor: pointer;
    //     //     background-color: #0078ff;
    //     //     color: white;
    //     // }

    // }
    // .btn--all{

    // }

    .drop-downs{
        display:flex;
        justify-content: space-between;
        width: auto;
        


    }
    .action-btn{
        background-color: white;
        border-left-width: 0px;
        border-bottom-width: 0px;
        border-top-width: 0px;
        border-right-width: 0px;
        

    }
    .sort-btn{
        background-color: white;
        border-left-width: 0px;
        border-bottom-width: 0px;
        border-top-width: 0px;
        border-right-width: 0px;
    }

    .all-btn{
        display: flex;
        margin: auto;
        width: 80%;
        align-content: center;
        // margin-left: 80%;
        // margin-top: 2%;
        .btn--all{
            background-color: #0078ff;
            color:white;
            border-color: black;
            // ::shadow{
            //     border-color: #0078ff;
            // }
            
        }
        // .active-a-btn{
        //     background-color: #0078ff;
        //     color:white;
        //     border-color: black;
        //     ::shadow{
        //         border-color: #0078ff;
        //     }
        // }
        // .completed-a-btn{
        //     background-color: #0078ff;
        //     color:white;
        //     border-color: black;
        //     ::shadow{
        //         border-color: #0078ff;
        //     }
        // }
        
    }
}
.hidden{
    display: none;
}
@media only screen and (min-width:1000px){
    body{
        width: auto;
        margin: auto;
    }
    .box{
        margin: auto;
        width: 80%;
        align-items: center;
        margin-right: 0px;
        margin-left: 80.203px;
        //margin-left: 150.3;

        .box-btn{
            margin: auto;
            margin-right: 0px;
            margin-left: 368.203px;
            align-items: center;
            width: 80%;
        }
    }
    .allOther{
        // display: grid;
        // width: 60%;
        // margin: auto;
        // margin-left: 400px;
        // margin-right: 0;
        //margin-top: 1em;
        //align-content: center;
        display: grid;
        width: 60%;
        margin: auto;
        margin-left: 400px;
        margin-right: 0;
        grid-template-rows: 51px 54px;
        grid-template-columns: 109px 376px;
        align-content: center;
        justify-content: center;
        align-items: center;
        
    //   grid-template-columns: repeat(auto-fit,minmax(1rem,1fr));
      .all-btn{
        //margin-top: 0;
        //margin-left: 10%;
        width: 80%;
        align-items: center;
      }
    }

}

@media only screen and (min-width:1200px){
    body{
        width: auto;
        margin: auto;
    }
    .box{
        margin: auto;
        width: 80%;
        align-items: center;
        margin-right: 0px;
        margin-left: 132.203px;
        //margin-left: 150.3;

        .box-btn{
            margin: auto;
            margin-right: 0px;
            margin-left: 368.203px;
            align-items: center;
            width: 80%;
        }
    }
    .allOther{
        display: grid;
        width: 60%;
        margin: auto;
        margin-left: 400px;
        margin-right: 0;
        //margin-top: 1em;
        //align-content: center;
        
      grid-template-columns: repeat(auto-fit,minmax(1rem,1fr));
      .all-btn{
        //margin-top: 0;
        //margin-left: 10%;
        width: 80%;
        align-items: center;
      }
    }

}