@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body{
  font-family: 'Poppins';
  background: white;
  //background-size: contain;  
//   width: 80%;
//   margin: auto;
}
.heading{
    display: block;
    width: auto;
    text-align: center;
    font-size: 25px;
}
.box{
    align-content: center;
    margin-left: 0%;
    width: auto;
    display: none;
    //display: block;
    
   .box-btn{
    align-items: left;
    display: flex;
    //float: right;
    margin-left: auto;
    width: 80%;
    line-height: 1em;
    background-color: white;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    align-self: center;
    input{
        width: 70%;
    }
   }
   
        .text{
            text-align: center;
        }
    

}
.taskmain{
    width: 100%;
    .message{
        float: right;
        width: 80%;
        margin: 0,0,0,200px;
        align-items: center;
    }
}
.taskList{
    //display: none;
    display: flex;
    align-content: center;
    margin: left 0;
    width: 70%;
    margin-top: 1em;
    margin-left: auto;
    margin-right:auto ;
    justify-content: space-between;
    line-height: 1.5em;
    //display: hidden;

    .editss{
        //width: 500%;
        align-content: center;
        float: right;
        //display: none;
        input{
            width:150%;
            margin: 0;
            padding: 0;
            justify-content: space-between;
        }
    }
    .check-c{
        
        //margin-left: 10em;
        //line-height: 2.5%;
        background-color: white;
        border-left-width: 0px;
        padding-bottom: 0px;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
    }
    .edits{
        justify-content: space-between;
        display: flex;

    }
    .edit{
        background-color: white;
        border-left-width: 0px;
        border-bottom-width: 0px;
        border-top-width: 0px;
        border-right-width: 0px;
        margin-right: .5em;
    }
    .delete{
        background-color: white;
        border-left-width: 0px;
        border-bottom-width: 0px;
        border-top-width: 0px;
        border-right-width: 0px;

    }
    


    
}

.allOther{
    display:grid;
    
    //grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    grid-template-rows: 53px 55px;
    grid-template-columns: 59px 177px;
    justify-content: space-between;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    //margin-left: auto;
    //margin-right: auto;
    align-content: center;

    .add-search-btn{
        display:flex;
        justify-content: space-evenly;
        //width:auto;
        align-content: center;

    }

    .add-btn{
        background-color: white;
        color:black;



    }
    .search-btn{
        background-color: white;

        
    }
    .btn--active{
        background-color: #0078ff;
        color: white;
        display: hidden;

    }


    .drop-downs{
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        width: auto;
    }
    .action-btn{
        background-color: white;
        border-left-width: 0px;
        border-bottom-width: 0px;
        border-top-width: 0px;
        border-right-width: 0px;
    }
    .sort-btn{
        background-color: white;
        border-left-width: 0px;
        border-bottom-width: 0px;
        border-top-width: 0px;
        border-right-width: 0px;
    }

    .all-btn{
        display: flex;
        margin: auto;
        width: 80%;
        align-content: center;
        // margin-left: 80%;
        // margin-top: 2%;
        .btn--all{
            background-color: #0078ff;
            color:white;
            border-color: black;
            
        }
    }
}
.hidden{
    display: none;
}
@media only screen and (min-width:770px){
    .box{
        width: 100%;
        align-items: center;
        margin: auto;
        .box-btn{
            width: 80%;
            align-items: center;
        }
    }
    .taskList{
        width: 70%;
    }

    .allOther{
        display: flex;
        width: 50%;
        align-content: stretch;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        .add-search-btn{
            display: flex;
            width: 25%;
        }
        .drop-downs{
            display: flex;
            flex-direction: row;
        }
    }
}
