@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
  font-family: "Poppins";
  background: white;
}

.heading {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.box {
  align-content: center;
  margin-left: 0%;
  width: 90%;
  display: none;
}
.box .box-btn {
  align-items: left;
  display: flex;
  margin-left: auto;
  width: 80%;
  line-height: 1em;
  background-color: white;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  align-self: center;
}
.box .box-btn input {
  width: 70%;
}
.box .text {
  text-align: center;
}

.taskmain {
  width: 100%;
}
.taskmain .message {
  float: right;
  width: 80%;
  margin: 0, 0, 0, 200px;
  align-items: center;
}

.taskList {
  display: flex;
  align-content: center;
  margin: left 0;
  width: 70%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  line-height: 1.5em;
}
.taskList .editss {
  align-content: center;
  float: right;
}
.taskList .editss input {
  width: 150%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.taskList .check-c {
  background-color: white;
  border-left-width: 0px;
  padding-bottom: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.taskList .edits {
  justify-content: space-between;
  display: flex;
}
.taskList .edit {
  background-color: white;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  margin-right: 0.5em;
}
.taskList .delete {
  background-color: white;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
}

.allOther {
  display: grid;
  grid-template-rows: 53px 55px;
  grid-template-columns: 59px 177px;
  justify-content: space-between;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  align-content: center;
}
.allOther .add-search-btn {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.allOther .add-btn {
  background-color: white;
  color: black;
}
.allOther .search-btn {
  background-color: white;
}
.allOther .btn--active {
  background-color: #0078ff;
  color: white;
  display: hidden;
}
.allOther .drop-downs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: auto;
}
.allOther .action-btn {
  background-color: white;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
}
.allOther .sort-btn {
  background-color: white;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
}
.allOther .all-btn {
  display: flex;
  margin: auto;
  width: 80%;
  align-content: center;
}
.allOther .all-btn .btn--all {
  background-color: #0078ff;
  color: white;
  border-color: black;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 770px) {
  .heading {
    width: auto;
    align-items: center;
  }
  .box {
    width: 100%;
    align-items: center;
    margin: auto;
  }
  .box .box-btn {
    width: 80%;
    align-items: center;
  }
  .taskList {
    width: 70%;
  }
  .allOther {
    display: flex;
    width: 50%;
    align-content: stretch;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .allOther .add-search-btn {
    display: flex;
    width: 25%;
  }
  .allOther .drop-downs {
    display: flex;
    flex-direction: row;
  }
}
@media screen {
  .heading {
    width: auto;
    align-items: center;
  }
  .box {
    width: 100%;
    align-items: center;
    margin: auto;
  }
  .box .box-btn {
    width: 80%;
    align-items: center;
  }
  .taskList {
    width: 70%;
  }
  .allOther {
    display: flex;
    width: 50%;
    align-content: stretch;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .allOther .add-search-btn {
    display: flex;
    width: 25%;
  }
  .allOther .drop-downs {
    display: flex;
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */